In [2]:
import pandas as pd

In [3]:
channels = []

with open('/content/ch.txt', 'r', encoding='utf8') as file:
  for line in file:
    channels.append(line.strip())

In [5]:
channels = [channel.split(';') for channel in channels]

In [ ]:
df_channels = pd.DataFrame(data=channels, columns=['channel_name', 'channel_id', 'send_message'])
df_channels

In [30]:
df_channels = df_channels.to_csv('server_channels.csv', ';')

In [ ]:
tmembers = []

with open('/content/tm.txt', 'r', encoding='utf8') as file:
  for line in file:
    tmembers.append(line.strip())

tmembers = [tmember.split(';') for tmember in tmembers]

df_tmembers = pd.DataFrame(data=tmembers, columns=['username', 'discriminator', 'userId', 'user_rank'])
df_tmembers

In [14]:
df_tmembers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   username       50 non-null     object
 1   discriminator  50 non-null     object
 2   userId         50 non-null     object
 3   user_rank      50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB

In [22]:
df_tmembers['userId'] = df_tmembers['userId'].apply(lambda id: int(id))

In [23]:
df_tmembers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   username       50 non-null     object
 1   discriminator  50 non-null     object
 2   userId         50 non-null     int64
 3   user_rank      50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [26]:
# df_tmembers = df_tmembers.drop('discriminator', axis=1)
df_tmembers.to_csv('team_members.csv', sep=';')